<footer>
  <div class="wrap cf">
    <a class="site-logo navbar-brand" href="{{ site.baseurl }}/" title="The Remote Lab Blog">
    <img src="{{ "/assets/img/logo_small.jpg" | prepend: site.baseurl }}" alt="The Remote Lab">
    <p>
    	&copy; The Remote Lab |
    	5th floor Hyde Park Hayes 3,
		  11 Millington Road,
		  Hayes, Middlesex, UB3 4AZ
		  United Kingdom</p>
	 <p>Tel : +44 2089823596  
   | Mail : hello@theremotelab.com
    </p>
    <p> <a href="https://www.facebook.com/TheRemoteLab"> Facebook</a> | <a href="https://twitter.com/TheRemoteLab">Twitter</a> | <a href="https://www.linkedin.com/company/the-remote-lab">linkedin</a> | <a href="https://github.com/TheRemoteLab">Github</a></p>
  </div>
</footer>
